<!DOCTYPE html>
<head>
<title>Todo App</title>

<link href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Candal|Chewy&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    body {
    background: rgb(104, 77, 254);
    }
    .todo-container {
    color: rgb(14, 13, 13);
    position: absolute;
    top:50%;
    left: 50%;
    padding: 20px;
    width: 600px;
    transform: translate(-50%,-50%);
    background: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    .todo {
    width: 400px;
    }
    .todo-container h2 {
    padding: 10px;
    font-family: 'Candal', sans-serif;
    font-size: 2em;
    }
    .todo-header input {
    width: 92%;
    border: none;
    border-radius: 5px;
    height: 20px;
    font-family: 'Candal', sans-serif;
    }
    .todo-header button {
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 5px;
    font-family: 'Candal', sans-serif;
    background-color: rgb(51, 212, 100);
    }
    .todo-container ul {
    list-style: none;
    }
    .todo-list-item {
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    font-family: 'Candal', sans-serif;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: row;
    }
    .todo-list-item form {
    width: 100%;
    display: flex;
    }
    .todo-list-item input {
    flex-grow: 2;
    margin-right: 20px;
    border: none;
    border-radius: 5px;
    font-family: 'Candal', sans-serif;
    }
    .todo-list-item button {
    color: rgb(126, 160, 34);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    font-family: 'Candal', sans-serif;
    background-color: rgb(51, 212, 100);
    }
    .todo-list-item .cancel {
    color: rgb(255, 255, 255);
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    font-family: 'Candal', sans-serif;
    background-color: rgb(223, 43, 43);
    margin-left: 5px;
    }
    .todo-list-item div {
    flex-grow: 2;
    }
    .todo-list-item .edit {
    color : rgb(143, 233, 58);
    margin-right: 10px;
    cursor:pointer;
    text-decoration: none;
    }
    .todo-list-item .remove {
    color : rgb(243, 96, 96);
    margin-right: 5px;
    cursor:pointer;
    text-decoration: none;
    }
    .strikethrough:checked + label {
  text-decoration:line-through
}
</style>
<body>
<div class="todo-container">
<h2>To-Do List</h2>
<div class="todo">
    <row>
        
        <form action="/newtodo" method="POST" class="todo-header">
            <input type="text" name="item" placeholder="What will you do today?">
            <button type="submit" ><span class="fas fa-plus"></span></button>
            </form>
    </row>
<ul class="todo-list">
<% for(var i = 0; i < todoList.length; i++) { %>
 
<% if (todoList[i]._id.toString()  ==  Todoid.toString()) { %>
<li class="todo-list-item">
<form action="/edit/<%= todoList[i]._id %>" method="POST">
<input type="text" value="<%= todoList[i].name %>" name="items">



<button type="edit">Confirm</button>
<a href="/" class="cancel">Cancel</a>
</form>
</li>
<% } else { %>
    <li class="todo-list-item">
        <div class="todo-list-item-name">
        
            <%= (i+1) + ". " + todoList[i].name %> 
        </div>
        <a href="/edit/<%= todoList[i]._id %>" class="edit">
        <span class="fas fa-edit"></span>
        </a>
        <a href="/destroy/<%= todoList[i]._id %>" class="remove">
        <span class="fas fa-times"></span>
        </a>
                    
        </li>
<% } %>
<% } %>
</ul>
</div>
</div>
</body>